html, body {
	height      : 100%;
	font-family : helvetica, tahoma, verdana, sans-serif;        
	font-size   : 12px;
}

iframe.xd{
	display : none;
}

.fullSize {
	position : absolute;
	top      : 0px;
	right    : 0px;
	bottom   : 0px;
	left     : 0px;
}

#login {
	background : -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 512, from(#FFFFFF), to(#808080), color-stop(.2, #FFFFFF));
	position   : absolute;
	top        : 0px;
	left       : 0px;
	display    : table;
	width      : 100%;
	height     : 100%;
}

#login-wrapper {
	display        : table-cell;
	vertical-align : middle;
}

#login input {
	outline            : none;
	position           : absolute;
	left               : 20px;
	right              : 20px;
	font-size          : 14px;
	border             : 0px;
	-webkit-box-shadow : none;
}

#login input[name=email]{
	top : 80px;
}

#login input[name=password]{
	top : 107px;
}

#login input#doLogin {
	display    : block;
	position   : absolute;
	top        : 143px;
	left       : 79px;
	width      : 127px;
	height     : 43px;
	cursor     : pointer;
	background : transparent;
}

#loginBox {
	background-image : url(../images/login.png);
	width            : 286px;
	height           : 204px;
	position         : relative;
	margin           : 0 auto;
}


.titleBar {
	background-image : url(../images/hsprites.png);
	height           : 44px;
}

.titleBar .leftBorder, .titleBar .rightBorder {
	background-image    : url(../images/sprites.png);
	background-position : -60px -60px;
	width               : 5px;
	height              : 44px;
	position            : absolute;
	top                 : 0px;
	left                : 0px;
}

.titleBar .rightBorder {
	left                : auto;
	right               : 0px;
	background-position : -65px -60px;
}

.titleBar ul.navBar {
	position : absolute;
	top      : 6px;
	margin   : 0 0 0 10px;
}

.titleBar ul.navBar li {
	background-image    : url(../images/sprites.png);
	background-position : -100px -30px;
	width               : 100px;
	height              : 30px;
	float               : left;
	text-align          : center;
	line-height         : 30px;
	color               : #4F5359;
	cursor              : pointer;
	font-weight         : bold;
}

.titleBar ul.navBar li:hover    { color : #07C; }
.titleBar ul.navBar li.selected { color : #FFF; cursor : default; }

.titleBar ul.navBar li:first-child          { background-position : 0px    -30px; }
.titleBar ul.navBar li:last-child           { background-position : -200px -30px; }
.titleBar ul.navBar li.selected             { background-position : -100px   0px; }
.titleBar ul.navBar li.selected:first-child { background-position :    0px   0px; }
.titleBar ul.navBar li.selected:last-child  { background-position : -200px   0px; }

/*
.titleBar ul.navBar {	
}

.titleBar ul.navBar li{
	width       : 99px;
	height      : 27px;
	float       : left;
	text-align  : center;
	line-height : 27px;
	color       : #4F5359;
	font-weight : bold;
	background  : -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#B9BDC6));
	border      : 1px solid #999;
	border-left : none;
	border-right-image : -webkit-gradient(linear, left top, left bottom, from(#C6C6C6), to(#595B60));
	-webkit-box-shadow : inset 0 2px 0px #999, 0 1px 1px #C9CCD2;
}
*/

.titleBar ul.navBar li:first-child {
	border-left                       : 1px solid #999;
	-webkit-border-top-left-radius    : 5px;
	-webkit-border-bottom-left-radius : 5px;
}
.titleBar ul.navBar li:last-child {
	-webkit-border-top-right-radius    : 5px;
	-webkit-border-bottom-right-radius : 5px;
}
.titleBar ul.navBar li:only-child {
}

.titleBar .add {
	border                : 1px solid #949597;
	width                 : 33px;
	height                : 28px;
	cursor                : pointer;
	position              : absolute;
	right                 : 10px;
	top                   : 6px;
	background            : -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#B7BBC4));
	-webkit-border-radius : 5px;
	-webkit-box-shadow    : inset 0 1px 2px #999, 0 1px 1px #C9CCD2;
}

.titleBar .add:hover {
	background : -webkit-gradient(linear, left top, left bottom, from(#F0F6FD), to(#709FC6));	
}

.titleBar .add div {
	background-image    : url(../images/sprites.png);
	background-position : -95px -61px;
	width               : 33px;
	height              : 28px;
	position            : absolute;
	left                : 0px;
	top                 : 0px;
}

#leftPanel {
	position     : absolute;
	top          : 44px;
	bottom       : 0px;
	border-right : 1px solid #000;
	width        : 320px;
	background   : #F5F5F5;
}

#rightPanel {
	position : absolute;
	top      : 44px;
	right    : 0px;
	bottom   : 0px;
	left     : 321px;
	overflow : hidden;
}

#rightPanel .panelTitle {
	width       : 100%;
	height      : 44px;
	text-align  : center;
	font-size   : 22px;
	font-weight : bold;
	line-height : 44px;
	color       : #666;
}

#contentBG {
	position : absolute;
	left     : 0px;
	width    : 100%;
	height   : 100%;
	z-index  : -1;
}

.searchContainer {
	background-image    : url(../images/hsprites.png);
	background-position : 0 -44px;
	height              : 44px;
	position            : relative;
}

.searchContainer .leftBorder, .searchContainer .rightBorder {
	background-image    : url(../images/sprites.png);
	background-position : 0 -60px;
	width               : 30px;
	height              : 44px;
	position            : absolute;
	top                 : 0px;
	left                : 0px;
}

.searchContainer .rightBorder {
	background-position : -30px -60px;
	width               : 22px;
	left                : auto;
	right               : 0px;
}

.searchContainer input {
	position  : absolute;
	top       : 14px;
	left      : 35px;
	right     : 22px;
	font-size : 16px;
	border    : 0px;
	outline   : none;
}

.searchContainer input.inactive {
	color : #C6C6C6;
}

.searchContainer input:focus {
}

.searchResults li {
	width         : 260px;
	padding       : 5px 30px;
	border-bottom : 1px solid #E0E0E0;
	font-size     : 18px;
	font-weight   : bold;
}

.searchResults li:hover{
	background : -webkit-gradient(linear, left top, left bottom, from(#F0F6FD), to(#709FC6));
	cursor     : pointer;
}

.searchResults li.selected{
	background : -webkit-gradient(linear, left top, left bottom, from(#058CF5), to(#015FE6));
	color      : #FFF;
	cursor     : default;
}

.leftBorderMini, .rightBorderMini {
	position            : absolute;
	top                 : 0px;
	left                : 0px;
	width               : 3px;
	height              : 44px;
	background-position : -70px -60px;
	background-image    : url(../images/sprites.png);
}

.rightBorderMini {
	background-position : -73px -60px;
	left                : auto;
	right               : 0px;
}



/**************
 * Content UI * 
 **************/

.pageNode {	
	position : absolute;
	width    : 100%;
	height   : 100%;
	top      : 0px;
	left     : 0px;
}

.pageContent {
	position : absolute;
	top      : 44px;
	bottom   : 0px;
	width    : 100%;
	overflow : auto;
	padding  : 0 0 20px 0;
}

.content fieldset {
	margin : 20px 40px 0 40px;;
}

.content fieldset legend {
	color       : #4C566C;
	font-weight : bold;
	font-size   : 16px;
	line-height : 44px;
}

.content ul li {
	display  : block;
	padding  : 0 12px;
	position : relative;
}

.content ul li.select, .content ul li.multiple-select {
	cursor : pointer;
}

.content ul li.select:hover, .content ul li.multiple-select:hover {
	background : -webkit-gradient(linear, left top, left bottom, from(#F0F6FD), to(#709FC6));
}	

.content ul li > div {
	position : relative;
}

.content ul li > div.title{
	font-weight : bold;
	font-size   : 16px;
	line-height : 44px;
}

/* select & multiple-select */
.content ul li .next {
	background-image    : url(../images/sprites.png);
	background-position : -76px -82px;
	width               : 9px;
	height              : 14px;
	position            : absolute;
	top                 : 16px;
	right               : 20px;
}

/* checkbox */
.content ul li .checkbox {
	position            : absolute;
	top                 : 10px;
	right               : 20px;
	width               : 94px;
	height              : 27px;
	overflow            : hidden;
}

.content ul li .checkbox .overlay {
	background-image    : url(../images/sprites.png);
	background-position : -93px -90px;
	position            : absolute;
	top                 : 0px;
	left                : 0px;
	width               : 94px;
	height              : 27px;
	z-index             : 2;
}

.content ul li .checkbox .switch {
	background-image    : url(../images/sprites.png);
	background-position : -129px -60px;
	position            : absolute;
	top                 : 0px;
	left                : 0px;
	width               : 147px;
	height              : 27px;
}

.content ul li .checkbox.off .switch {
	left : -53px;
}

.content ul li .border {
	position : absolute;
	top      : 0px;
	left     : 0px;
	right    : 0px;
}

.content ul li .border div {
/*	background-image : url(../images/sprites.png); */
	width            : 11px;
	height           : 44px;
	position         : absolute;
}

.content ul li .border > .left {
	left : 0px;
	top  : 0px;
}

.content ul li .border > .right {
	right : 0px;
	top   : 0px;
}

.content ul li .border > .bg{
/*	background-image : url(../images/hsprites.png); */
	width            : auto;
	top              : 0px;
	left             : 11px;
	right            : 11px;
}

.content ul li:last-child .border > div {
	height : 46px;
}

.content ul li {
	border           : 1px solid #B0B3B7;
	border-bottom    : none;
	background-color : #F7F7F7;
}

.content ul li:first-child {
	-webkit-border-top-left-radius  : 10px;
	-webkit-border-top-right-radius : 10px;
}

.content ul li:last-child {
	border-top                         : 1px solid #CBCBCB;
	border-bottom                      : 1px solid #B0B3B7;
	-webkit-border-bottom-left-radius  : 10px;
	-webkit-border-bottom-right-radius : 10px;
}

.content ul li:only-child {
	border-top : 1px solid #B0B3B7;
}


.content ul li             .border .left  { background-position : -44px -104px; }
.content ul li             .border .right { background-position : -55px -104px; }
.content ul li             .border .bg    { background-position :   0px -222px; }
.content ul li:first-child .border .left  { background-position : -22px -104px; }
.content ul li:first-child .border .right { background-position : -33px -104px; }
.content ul li:first-child .border .bg    { background-position :   0px -178px; }
.content ul li:last-child  .border .left  { background-position : -66px -104px; }
.content ul li:last-child  .border .right { background-position : -77px -104px; }
.content ul li:last-child  .border .bg    { background-position :   0px -266px; }
.content ul li:only-child  .border .left  { background-position :   0px -104px; }
.content ul li:only-child  .border .right { background-position : -11px -104px; }
.content ul li:only-child  .border .bg    { background-position :   0px -132px; }


/* POPUP */
.popup, .popup .background {
	position : absolute;
	width    : 100%;
	height   : 100%;
	top      : 0px;
	left     : 0px;
}

.popup .background {
	background-color : #000;
	opacity          : .25;
}