!!! strict
head
  title vouchr.com -- Coming Soon!
  != partial('css', ['concat?css/reset.css,css/home_example.css'])
  != partial('jquery_global')
  != partial('js', ['js/home_example.js'])
body
  #content
    #header.hCenter
      .hCenterNest
        #title Title
        #search Search
    #deals.hCenter.vCenter
      .hCenterNest.vCenterNest
        .next >>
        .prev <<
        .deals
          .deal
            .title $50 Vouchr to some company that you really want to go to ($100 value)
            .price $50
            .timeLeft 10 hours
            .numBought 20
            .companyImage Image
            .right Expires in 1 year, blah blah blah
              .moreDetails More Details
          .deal.hidden
            .title $25 Vouchr to some company that you really want to go to ($50 value)
            .price $25
            .timeLeft 12 hours
            .numBought 200
            .companyImage Image
            .right Expires in 1 year, blah blah blah
              .moreDetails More Details
    #footer
      .deals
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item