!!! strict
head
  title vouchr.com -- Coming Soon!
  != partial('css', ['concat?css/reset.css,css/home_example.css'])
  != partial('jquery_global')
  != partial('js', ['js/home_example.js'])
body
  #content
    #header.hCenter
      .hCenterNest
        #title Title
        #search Search
    #deals.hCenter.vCenter
      .hCenterNest.vCenterNest
        .next >>
        .prev <<
        .deals
          .deal
            .title $50 Vouchr to some company that you really want to go to ($100 value)
            .price $50
            .timeLeft 10 hours
            .numBought 20
            .companyImage Image
            .right Expires in 1 year, blah blah blah
              .moreDetails More Details
            .lessDetails.hidden Back
            .details.hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a arcu vitae erat consectetur euismod dictum eu risus. Integer vulputate, nisi eu tristique congue, odio lectus pellentesque massa, sit amet luctus lorem lectus eu ipsum. Curabitur varius velit ut risus dictum pulvinar. Nulla facilisi. Phasellus eget neque id tellus pulvinar congue nec euismod magna. Duis convallis lectus lectus, vel gravida augue. Nam scelerisque nulla eget sem porttitor vel consectetur est congue. Fusce id sagittis urna. In eleifend luctus cursus. Donec in lorem in libero condimentum commodo. Etiam eu leo id ligula sagittis mattis. Morbi ipsum mauris, cursus nec faucibus ut, tempor eu ligula.
          .deal.hidden
            .title $25 Vouchr to some company that you really want to go to ($50 value)
            .price $25
            .timeLeft 12 hours
            .numBought 200
            .companyImage Image
            .right Expires in 1 year, blah blah blah
              .moreDetails More Details
            .lessDetails.hidden Back
            .details.hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a arcu vitae erat consectetur euismod dictum eu risus. Integer vulputate, nisi eu tristique congue, odio lectus pellentesque massa, sit amet luctus lorem lectus eu ipsum. Curabitur varius velit ut risus dictum pulvinar. Nulla facilisi. Phasellus eget neque id tellus pulvinar congue nec euismod magna. Duis convallis lectus lectus, vel gravida augue. Nam scelerisque nulla eget sem porttitor vel consectetur est congue. Fusce id sagittis urna. In eleifend luctus cursus. Donec in lorem in libero condimentum commodo. Etiam eu leo id ligula sagittis mattis. Morbi ipsum mauris, cursus nec faucibus ut, tempor eu ligula.
    #footer
      .deals
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item
        .deal Item